body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:161px;
  height:24px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:620px;
  top:50px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:84px;
  width:820px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:803px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:820px;
  height:1px;
}
#u5 {
  position:absolute;
  left:240px;
  top:88px;
  width:10px;
  height:506px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:489px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:506px;
}
#u6 {
  position:absolute;
  left:380px;
  top:146px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:380px;
  top:213px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:380px;
  top:283px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:380px;
  top:345px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:378px;
  top:408px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:377px;
  top:458px;
  width:241px;
  height:24px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:683px;
  top:50px;
  width:135px;
  height:24px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
