<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.jobEnroll.dao.IJobEnrollDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.jobEnroll.pojo.JobEnroll"> 
		<id property="jeId" column="je_id" javaType="java.lang.Integer"></id> 
		<result property="userId" column="user_id" javaType="java.lang.Integer"></result> 
		<result property="jobId" column="job_id" javaType="java.lang.Integer"></result> 
	</resultMap> 

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		je_id,user_id,job_id 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from job_enroll 
		where je_id = #{jeId} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from job_enroll 
		where je_id = #{jeId} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.jobEnroll.pojo.JobEnroll" > 
		insert into job_enroll(user_id,job_id) 
		values (#{userId},#{jobId}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.jobEnroll.pojo.JobEnroll" > 
		update job_enroll 
		<set > 
			<if test="userId != null and userId!='' " > 
				user_id = #{userId}, 
			</if> 
			<if test="jobId != null and jobId!='' " > 
				job_id = #{jobId}, 
			</if> 
		</set> 
		where je_id = #{jeId} 
	</update> 
	<update id="update" parameterType="com.qhit.jobEnroll.pojo.JobEnroll" > 
		update job_enroll 
		set  user_id = #{userId}, job_id = #{jobId} 
		where je_id = #{jeId} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from job_enroll 
	</select> 
	<select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from job_enroll 
		where user_id = #{userId} 
	</select> 
	<select id="findByJobId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from job_enroll 
		where job_id = #{jobId} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from job_enroll where je_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.jobEnroll.pojo.JobEnroll" resultMap="BaseResultMap"> 
		select * from  job_enroll 
		<where > 
			<if test="userId != null and userId!='' " > 
				 and user_id = #{userId} 
			</if> 
			<if test="jobId != null and jobId!='' " > 
				 and job_id = #{jobId} 
			</if> 
		</where> 
	</select> 
</mapper> 
