<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.baseFlow.dao.IBaseFlowDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.baseFlow.pojo.BaseFlow">
		<result property="compid" column="compid"></result>
		<result property="pdjid" column="pdjid"></result>
		<result property="zcjid" column="zcjid"></result>
		<result property="flowname" column="flowname"></result>
		<result property="dljid" column="dljid"></result>
		<result property="dljname" column="dljname"></result>
		<result property="zcjname" column="zcjname"></result>
		<result property="pdjname" column="pdjname"></result>
		<result property="compname" column="compname"></result>
		<result property="tol" column="tol"></result>
		<result property="dljdevid" column="dljdevid"></result>
		<result property="dljamount" column="dljamount"></result>
		<result property="zcjdevid" column="zcjdevid"></result>
		<result property="zcjamount" column="zcjamount"></result>
        <result property="pdjdevid" column="pdjdevid"></result>
        <result property="pdjamount" column="pdjamount"></result>

	</resultMap>

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		flowid,flowname,dljid,zcjid,pdjid,compid

	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		SELECT bf.flowid,bf.flowname,bf.dljid,bf.zcjid,bf.pdjid,bf.compid,bdi1.`devname` AS dljname,bdi2.`devname` AS zcjname,bdi3.`devname` AS pdjname
		FROM base_flow bf
		JOIN base_device bdi1 ON bf.`dljid`=bdi1.`devid`
		JOIN base_device bdi2 ON bf.`zcjid`=bdi2.`devid`
		JOIN base_device bdi3 ON bf.`pdjid`=bdi3.`devid`
		AND BF.`flowid`=#{flowid}
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from base_flow 
		where flowid = #{flowid} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.baseFlow.pojo.BaseFlow" > 
		insert into base_flow(flowname,dljid,zcjid,pdjid,compid) 
		values (#{flowname},#{dljid},#{zcjid},#{pdjid},#{compid}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.baseFlow.pojo.BaseFlow" > 
		update base_flow 
		<set > 
			<if test="flowname != null and flowname!='' " > 
				flowname = #{flowname}, 
			</if> 
			<if test="dljid != null and dljid!='' " > 
				dljid = #{dljid}, 
			</if> 
			<if test="zcjid != null and zcjid!='' " > 
				zcjid = #{zcjid}, 
			</if> 
			<if test="pdjid != null and pdjid!='' " > 
				pdjid = #{pdjid}, 
			</if> 
			<if test="compid != null and compid!='' " > 
				compid = #{compid}, 
			</if> 
		</set> 
		where flowid = #{flowid} 
	</update> 
	<update id="update" parameterType="com.qhit.baseFlow.pojo.BaseFlow" > 
		update base_flow 
		set  flowname = #{flowname}, dljid = #{dljid}, zcjid = #{zcjid}, pdjid = #{pdjid}, compid = #{compid} 
		where flowid = #{flowid} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		bf.flowid,bf.flowname,bf.dljid,bf.zcjid,bf.pdjid,bf.compid,bc.`compname` AS compname,bdi1.`devname` AS dljname,bdi2.`devname` AS zcjname,bdi3.`devname` AS pdjname
		from base_flow bf JOIN base_device bdi1 ON bf.`dljid`=bdi1.`devid`
		JOIN base_device bdi2 ON bf.`zcjid`=bdi2.`devid`
		JOIN base_device bdi3 ON bf.`pdjid`=bdi3.`devid`
		JOIN base_company bc ON bf.`compid`=bc.`compid`
	</select> 
	<select id="findByFlowname" resultMap="BaseResultMap" parameterType="java.lang.String" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_flow 
		where flowname = #{flowname} 
	</select> 
	<select id="findByDljid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_flow 
		where dljid = #{dljid} 
	</select> 
	<select id="findByZcjid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_flow 
		where zcjid = #{zcjid} 
	</select> 
	<select id="findByPdjid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_flow 
		where pdjid = #{pdjid} 
	</select> 
	<select id="findByCompid" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from base_flow 
		where compid = #{compid} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from base_flow where flowid in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.baseFlow.pojo.BaseFlow" resultMap="BaseResultMap">
		select bf.flowid,bf.flowname,bf.dljid,bf.zcjid,bf.pdjid,bf.compid,bc.`compname` AS compname,bdi1.`devname` AS dljname,bdi2.`devname` AS zcjname,bdi3.`devname` AS pdjname  from base_flow bf JOIN base_device bdi1 ON bf.`dljid`=bdi1.`devid`
		JOIN base_device bdi2 ON bf.`zcjid`=bdi2.`devid`
		JOIN base_device bdi3 ON bf.`pdjid`=bdi3.`devid`
		JOIN base_company bc ON bf.`compid`=bc.`compid`
		<where > 
			<if test="flowname != null and flowname!='' " > 
				 and bf.flowname = #{flowname}
			</if> 
			<if test="dljid != null and dljid!='' " > 
				 and bf.dljid = #{dljid}
			</if> 
			<if test="zcjid != null and zcjid!='' " > 
				 and bf.zcjid = #{zcjid}
			</if> 
			<if test="pdjid != null and pdjid!='' " > 
				 and bf.pdjid = #{pdjid}
			</if> 
			<if test="compid != null and compid!='' " > 
				 and bf.compid = #{compid}
			</if> 
		</where> 
	</select>


</mapper> 
